* {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;

  --mainTheme: #24243e;
  --glazeTheme: #302b63;
  --subTheme: rgb(255, 72, 0);
  --lightTheme: #f2f2f2;
  --bgGradient: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
